<h2><%= gettext("Comments") %></h2>

<%= pagination @conn, @paging, &admin_comment_path/3 %>

<table class="index-table">
  <thead>
    <tr>
      <th><%= gettext("Author") %></th>
      <th><%= gettext("Email") %></th>
      <th><%= gettext("URL") %></th>
      <th><%= gettext("Visible") %></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for comment <- @comments do %>
    <tr>
      <td><%= comment.author %></td>
      <td><%= comment.email %></td>
      <td><%= comment.url %></td>
      <td><%= if comment.visible, do: gettext("yes"), else: gettext("no") %></td>

      <td class="action-column">
        <%= link gettext("show post"), to: "", class: "btn btn-secondary btn-xs" # TODO link to article %>
        <%= link gettext("edit"), to: admin_comment_path(@conn, :edit, comment), class: "btn btn-secondary btn-xs" %>
        <%= link gettext("delete"), to: admin_comment_path(@conn, :delete, comment), method: :delete, data: [confirm: gettext("Are you sure?")], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= pagination @conn, @paging, &admin_comment_path/3 %>
