<div class="btn-group" role="group">
  <%= link gettext("Posts"), to: admin_post_path(@conn, :index), class: "btn btn-secondary #{active_class(@conn, BurpWeb.Admin.PostController)}" %>
  <%= link gettext("Comments"), to: admin_comment_path(@conn, :index), class: "btn btn-secondary #{active_class(@conn, BurpWeb.Admin.CommentController)}" %>
  <%= link gettext("Media"), to: admin_medium_path(@conn, :index), class: "btn btn-secondary #{active_class(@conn, BurpWeb.Admin.MediumController)}" %>

  <% if @current_user.admin do %>
    <%# link gettext("Users"), to: "", class: "btn btn-secondary #{active_class(@conn, BurpWeb.Admin.UserController)}" %>
    <%# link gettext("Blogs"), to: "", class: "btn btn-secondary #{active_class(@conn, BurpWeb.Admin.BlogController)}" %>
  <% end %>
</div>
