<article id="comment-<%= @comment.id %>" class="comment">
  <header>
    <%= unless blank?(@comment.email) do %><img class="gravatar" src="https://www.gravatar.com/avatar/<%= gravatar_hash(@comment.email) %>?s=80&amp;d=blank" alt=""><% end %>
    <h4><%= @comment.author %></h4>
    <details open>
      <summary>
        <%= gettext("wrote at") %>
        <%= link to: comment_url(@conn, @comment, @post), title: gettext("permanent link to this comment") do %><time pubdate datetime="<%= Timex.format!(@comment.inserted_at || Timex.local(), "{ISO:Extended}") %>"><%= Timex.format!(@comment.inserted_at || Timex.local(), gettext("%Y-%m-%d %H:%M"), :strftime) %></time><% end %>
      </summary>
    </details>
  </header>

  <%= as_html(@comment, @comment.content) %>
</article>
