.pages {
  margin-top: 2em;
  margin-bottom: 2em;
}
.pages ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25em;
  justify-content: center;
}

.pages li:first-child a {
  margin-left: 0;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}
.pages li a,
.pages li span {
  position: relative;
  display: block;
  padding: 0.5em 0.75em;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #ddd;
  text-decoration: none;
}

.pages li a:focus,
.pages li a:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #ddd;
}

.pages li.disabled a,
.pages li.disabled span {
  color: #868e96;
  pointer-events: none;
  background-color: #fff;
  border-color: #ddd;
}
