<div class="btn-group" role="group">
  <%= link gettext("New Post"), to: Routes.admin_post_path(@conn, :new), class: "btn btn-primary" %>
</div>

<%= render(BurpWeb.AdminView, "subnav.html", assigns) %>
