<% content_for :title do %>Posts<% end %>

  <h2>Posts</h2>

  <div class="posts">
    <% @posts.each do |p| %>
    <article class="row">
      <div class="col-md-11">
        <%= render 'post_header', p: p %>
      </div>

      <div class="col-md-1">
        <%= link_to '', admin_post_path(p), method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-trash' %>
        <%= link_to '', edit_admin_post_path(p), class: 'glyphicon glyphicon-pencil' %>
      </div>
    </article>
    <% end %>
  </div>

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails, next_label: '»', previous_label: '«' %>
