<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <%= gettext("Oops, something went wrong! Please check the errors below.") %>
    </div>
  <% end %>

  <div class="fgroup">
    <%= label f, :name, gettext("blog name") %>
    <%= text_input f, :name, class: error_class(f, :name) %>
    <%= error_tag f, :name %>
  </div>

  <div class="fgroup">
    <%= label f, :description, gettext("description") %>
    <%= text_input f, :description, class: error_class(f, :description) %>
    <%= error_tag f, :description %>
  </div>

  <div class="fgroup">
    <%= label f, :keywords, gettext("keywords") %>
    <%= text_input f, :keywords, class: error_class(f, :keywords) %>
    <%= error_tag f, :keywords %>
  </div>

  <div class="fgroup">
    <%= label f, :host, gettext("blog hostname") %>
    <%= text_input f, :host, class: error_class(f, :host) %>
    <%= error_tag f, :host %>
  </div>

  <div class="fgroup">
    <%= label f, :url, gettext("blog url") %>
    <%= text_input f, :url, class: error_class(f, :url) %>
    <%= error_tag f, :url %>
  </div>

  <%= sub_inputs f, :attrs, fn fs -> %>
    <div class="fgroup">
      <%= label fs, :comments, class: "radio", for: nil do %>
        <%= radio_button fs, :comments, "enabled" %>
        <%= gettext("comments enabled") %>
      <% end %>
      <%= label fs, :comments, class: "radio", for: nil do %>
        <%= radio_button fs, :comments, "disabled" %>
        <%= gettext("comments disabled") %>
      <% end %>
    </div>

    <div class="fgroup">
      <%= label fs, :comments_moderated, class: "radio", for: nil do %>
        <%= radio_button fs, :comments_moderated, "yes" %>
        <%= gettext("comments moderated") %>
      <% end %>
      <%= label fs, :comments_moderated, class: "radio", for: nil do %>
        <%= radio_button fs, :comments_moderated, "no" %>
        <%= gettext("comments unmoderated") %>
      <% end %>
    </div>

    <div class="fgroup">
      <%= label fs, :mail_notify, gettext("notification mails on new comments to this address") %>
      <%= text_input fs, :mail_notify %>
      <%= error_tag fs, :mail_notify %>
    </div>

  <% end %>

  <div class="fgroup">
    <%= submit gettext("submit"), class: "btn btn-primary" %>
  </div>
<% end %>
