<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%= gettext("Oops, something went wrong! Please check the errors below.") %></p>
    </div>
  <% end %>

  <div class="fgroup">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="fgroup">
    <%= label f, :file, class: "control-label" %>
    <%= file_input f, :file, class: "form-control" %>
    <%= error_tag f, :file %>
  </div>

  <div class="form-group">
    <%= submit gettext("submit"), class: "btn btn-primary" %>
  </div>
<% end %>
