<%= gettext("Hi there, %{name}!", name: @post.author.name) %>

<%= gettext("A new comment has been posted for the post „%{subject}“:", subject: @post.subject) %>

<%= @comment.content %>

<%= gettext("You can moderate this comment under this URL:") %>

<%= "#{@post.blog.url}admin/comments/#{@comment.id}/edit" %>

<%= gettext("Best regards, Burp") %>
