// -*- coding: utf-8 -*-

@import "bootstrap";

body {
  padding-top: 70px;
}

.max-width-fluid {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

article.comment {
  margin-bottom:1em;

  img { padding-bottom:1em; }
  h4, details { display:inline; }
}

// eof