<h2><%= gettext("Archive %{year}", year: @year) %></h2>

<ol>
  <%= for {month, articles} <- @months do %>
    <li><%= link "#{month_link_text(month)} (#{articles})", to: Routes.archive_path(@conn, :index, @year, month_link_month(month)) %></li>
  <% end %>
</ol>
