<%
subnav = capture do
  begin %>
<%= render 'subnav' %><% @has_subnav = true
  rescue ActionView::MissingTemplate
    @has_subnav = false
  end
end


if @has_subnav %>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
          <div class="list-group">
            <%= subnav %>
          </div>
        </div><!--/span-->
<% end %>
